:root {
    --white: #fff;
    --gray-light: #ccc;
    --dark-gray: #333;
    --light-gray: #f7f7f7;
    --primary-color: #00566d;
    --accent-color: #007bffa4;
    --hover-color: #007bff;
    --text-color: #333;
    --secondary-text-color: #555;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-gray);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.menu-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--gray-light);
}

.site-title {
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
}

.menu-items {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.menu-items li {
    margin-left: 20px;
}

.menu-items a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-items a:hover {
    background-color: var(--hover-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.about-section {
    padding: 40px 20px;
    text-align: center;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    padding-top: 100px;
    font-size: 18px;
    color: var(--secondary-text-color);
    line-height: 1.6;
    margin-bottom: 30px;
}



.footer-content {
    background-color:#000000dd;
    color: rgb(250, 247, 247);
    padding: 200px;
    text-align: center;
    padding-top: 80px;
    max-width: 1920px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8;
}


